#navbar .logo {
  float: none;
  text-align: center;
  font-size: auto;
}
#showcase-content h1 {
  font-size: 30px;
  padding-bottom: 5px;
  line-height: 1.2rem;
}
#navbar ul,
#navbar ul li {
  float: none;
}
#navbar ul li a {
  text-align: center;
  padding: 5px;
  border-bottom: #444 dotted;
}
#nature-info .info-img {
  display: none;
}
#nature-info .info-text {
  float: none;
  width: 100%;
}
/*boxes*/
.box {
  float: none;
  width: 100%;
}
/*About info*/
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}
#about-info .info-right {
  margin-top: 30px;
}
.l-heading {
  text-align: center;
}
